

<body>
<main id="new-user">

<div class="third margin-right left">

	<%= render 'form' %>

	<div class="clear"></div>

</div>

<div class="two-thirds left">
	<h2>Why should you sign up?</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tristique mi eget vulputate feugiat. Nam ultricies ac velit vel vehicula. Suspendisse in bibendum dui. Fusce feugiat mauris id nulla facilisis, eget placerat magna elementum. Phasellus tempor feugiat libero, ut molestie urna dictum at.</p>
</div>

<div class="clear"></div>

</main>

<%= render "layouts/header" %>
<%= render "layouts/footer"%>

</body>