<footer>

	<div class="footer-content">
		<div class="third left margin-right">
			<h3>Acount and Profile</h3>
			<ul>
				<li><a href="#">View Profile</a></li>
				<li><a href="#">Edit Profile</a></li>
				<li><a href="#">Logout</a></li>
			</ul>
		</div>

		<div class="third left margin-right">
			<h3>Discussion</h3>
			<ul>
				<li><a href="#">View Topics</a></li>
				<li><a href="#">Find Other Residents</a></li>
			</ul>
		</div>

		<div class="third left">
			<h3>Products</h3>
			<ul>
				<li><a href="#">View Products</a></li>
				<li><a href="#">Shop for Products</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>

</footer>